.gitignore
.DS_Store
.calva/output-window/
.calva/repl.calva-repl
.classpath
.clj-kondo/.cache
.lsp/.cache
.lsp/sqlite.db
.crush
.claude
.nrepl-history
.nrepl-port
.portal/vs-code.edn
.project
.socket-repl-port
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
